:root {
  /* font-family: "YekanBakh", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif; */

  background-color: #ffffff;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100%;
  font-family: "IranSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
* {
  font-family: "IranSans";
  direction: rtl;
  font-weight: 200;
  /* text-align: right; */
  /* font-feature-settings: "ss01"; */
}
/*----------------------------------scrolBar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #15365a;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #50a5ff;
  border-radius: 4px;
}
/*----------------------------------MUI*/

.css-38raov-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
  margin: 0 !important;
  color: rgb(243, 169, 169) !important;
}
.css-38raov-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon :hover {
  color: #ff6687 !important;
}
.rmdp-container svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  color: #1976d2;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 14.5px 14px !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #1976d2 !important;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: #1976d2 !important;
}
.css-i4bv87-MuiSvgIcon-root {
  color: #1976d2 !important;
}
.MuiCardHeader-avatar svg {
  color: #ffffff !important;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  height: 3rem !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "IranSans" !important;
}
.css-g9fo99-MuiAvatar-root svg {
  color: #ffffff !important ;
}
.MuiAutocomplete-hasPopupIcon.css-1x6bjyf-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding-right: 25px !important;
}
/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  text-align: right !important;
} */
.css-1uwyrp-MuiFormLabel-root-MuiInputLabel-root,
.css-1pk617i-MuiFormLabel-root-MuiInputLabel-root {
  text-align: right;
  right: 2rem !important;
  left: none !important;
  transform-origin: top right !important;
  background-color: #ffffff !important;
  width: fit-content !important ;
  padding: 0px 5px !important;
  font-weight: 800 !important;
  color: #1976d2 !important;
}
.css-eladsm-MuiFormLabel-root-MuiInputLabel-root {
  text-align: right;
  right: 1rem !important;
  left: none !important;
  top: -8px !important;
  transform-origin: top right !important;
  background-color: #ffffff !important;
  width: fit-content !important ;
  padding: 0px 5px !important;
  font-weight: 800 !important;
  color: #1976d2 !important;
  z-index: 2;
}
.Mui-focused {
  color: #1976d2 !important;
}
.dataPickerDivStyles :focus {
  border-color: #1976d2 !important;
}
.css-v8nz9h-MuiButtonBase-root-MuiMenuItem-root {
  margin: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.css-v8nz9h-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  color: #1976d2 !important;
}
.MuiSelect-icon {
  left: 0.5rem !important;
  right: auto !important;
}
.css-gdh49b-MuiAutocomplete-listbox .MuiAutocomplete-option {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.MuiAutocomplete-endAdornment {
  left: 0.5rem !important;
  right: auto !important;
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1x6bjyf-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding-right: 25px !important;
  padding-left: 48px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  direction: ltr !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  text-align: right !important;
  right: 2rem !important;
  left: none !important;
  transform-origin: top right !important;
  background-color: #ffffff !important;
  width: fit-content !important ;
  padding: 0px 5px !important;
  font-weight: 800 !important;
  color: #1976d2 !important;
  font-family: "IranSans" !important;
}
.MuiTooltip-popper[data-popper-placement*="bottom"]
  .css-ja5taz-MuiTooltip-tooltip {
  font-family: "IranSans" !important;
  font-weight: 600;
  background-color: #562631 !important;
}
.css-14lwjor-MuiFormLabel-root-MuiInputLabel-root {
  right: 0 !important;
  transform-origin: top right !important;
  font-weight: 900 !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input ::placeholder {
  font-family: "IranSans" !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  padding-right: 15px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  direction: ltr !important;
}
